[submodule ".registry"]
	path = .registry
	url = https://github.com/phildonovan/phildonovan.r-universe.dev
	branch = HEAD
[submodule "eolas"]
	path = eolas
	url = https://github.com/phildonovan/eolas-r
	branch = master
